---
page_title: "coolify_database_mariadb Data Source - terraform-provider-coolify"
subcategory: "database"
description: |-
  Get a Coolify MariaDB database
---

# coolify_database_mariadb (Data Source)

Get a Coolify MariaDB database.

## Example Usage

{{ tffile "examples/data-sources/coolify_database_mariadb/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
